:host {
  height: 100vh;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
  box-sizing: border-box;

  img {
    max-width: 100%;
  }
}
