:host {
  height: 100vh;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: auto;

  img {
    max-width: 100%;
  }

  h1,
  h2 {
    margin: 0;
  }

  @media (min-width: 600px) {
    padding-bottom: 6rem;
  }
}
